{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}

{% block content %}

<div class="container">
    <h1>This is login page</h1>
    <form method="post" novalidate>
        <!-- {{form | crispy}} -->
        {% csrf_token %}

        
        {% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
            <p class="bg-danger text-white p-3">{{er}}</p>
        {% endfor %}
        {% endif %}


        {% for fm in form %}
        {{fm.label_tag}}
        {{fm}}
        {{fm.errors | striptags}}
        <br>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>


{% endblock content %}