{% extends "base.html" %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div class="container mt-4">
  <h3><a class="btn btn-success p-2 mb-3" href="{% url 'deposit' %}">Deposit</a></h3>
      <div class="">
        
        <p style="text-align: center; ">First Name - {{data.user.first_name}}</p>
        <p style="text-align: center; "> Last Name - {{data.user.last_name}}</p>
        <p style="text-align: center; ">Email - {{data.user.email}}</p>
        <p style="text-align: center; ">Account Number - {{data.account_no}}</p>
        <p style="text-align: center; ">Gender - {{data.gender}}</p>
        <p style="text-align: center; ">Account creation date - {{data.initial_deposite_date}}</p>
        <p style="text-align: center; ">Balance - {{data.balance}}</p>
 
      </div>
</div>
    
<div class="mt-5">
  <hr>
</div>

<div class="container">
    {% for i in visitor %}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{i.hotel.image.url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{i.hotel.hotel_name}}</h5>
            <a href="{% url 'review' i.hotel.id %}">Comment</a>
          </div>
        </div>
      </div>
    </div>     
    
    {% endfor %}
          
        
</div> 

{% endblock content %}