{% extends "base.html" %}
{% load static %}

{% block title %}Details page{% endblock title %}

{% block content %}



<div class="container mt-3">

    <div class="mb-5">
        <div style="width: 90%; margin: auto;" class="card">
            <img style="height: 500px;" src="{{hotel.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{hotel.hotel_name}}</h5>
              <p>Location : {{hotel.location}}</p>
              <p>One day room price : {{hotel.fee}}</p>
              <p class="card-text"> Description :- {{hotel.description}}</p>
              <a class="btn btn-primary" href="{% url 'booking' hotel.id %}">Booking</a>
            </div>
          </div>
    </div>
    <div class="m-3">
        <hr>
    </div>
    {% if reviews %}
        <ul class="m-2">
            {% for review in reviews %}
                <li>
                    <p>Reviewer: {{ review.reviewer.user.first_name }}</p>
                    <p>{{ review.body }}</p>
                    <p>Rating: {{ review.ratting }}</p>
                    <p>Created Time: {{ review.created_time }}</p>
                    {% if review.reviewer == request.user.account %}
                        <a class="btn btn-success" href="{% url 'edit_review' review.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'delete_review' review.id %}">Delete</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
    
    <p>No reviews for This Hotel yet.</p>
    {% endif %}
</div>

{% endblock content %}