<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %}
{% block title %}Hotel page{% endblock title %}
{% block content %}

<div class="container mb-5">
<div class="text-center container p-1 h-100">
  <h5 class="text-info">Our hotel Classifications</h5>
<div class="d-flex flex-wrap justify-content-center pt-2 align-items-center">
  {% for val in category %}
  <div class="p-1">
    <button type="button" class="btn btn-success">
    <a
      href="{% url 'category_wise' val.slug %}"
      class="text-decoration-none text-white"
      >{{val.name}}</a
    >
  </div>
  
</button>
  {% endfor %}
</div>

<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
  <h6 class="section-title text-center text-primary text-uppercase mt-3">Our Rooms</h6>
  <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Rooms</span></h1>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <!-- <div class="card-group"> -->
    {% for i in data %}
    <!-- <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="room-item shadow rounded overflow-hidden">
              <div class="position-relative">
                  <img class="img-fluid" src="{{i.image.url}}" alt="">
                  <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">{{i.fee}}taka/per Night</small>
              </div>
              <div class="p-4 mt-2">
                  <div class="d-flex justify-content-between mb-3">
                      <h5 class="mb-0">{{i.hotel_name}}</h5>
                      <div class="ps-2">
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                      </div>
                  </div>
                  <div class="d-flex mb-3">
                      <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                      <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                      <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                  </div>
                  <p>Location : {{i.location}}</p>
                  <p class="text-body mb-3">{{i.description | truncatewords:10}}</p>
                  <div class="d-flex justify-content-between">
                      <a class="btn btn-sm btn-primary rounded py-2 px-4" href="{% url 'details' i.id %}">View Detail</a>

                  </div>
              </div>
          </div>
      </div> -->
      
        <!-- <div class="card">
          <img src="{{i.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{i.hotel_name}}</h5>
            <p>Location : {{i.location}}</p>
            <p>One day room price : {{i.fee}}</p>
            <p class="card-text">Description :- {{i.description | truncatewords:10}}</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="{% url 'details' i.id %}">Details</a>
          </div>
        </div> -->
    
      <div class="col">
        <div class="card">
          <img src="{{i.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{i.hotel_name}}</h5>
            <p>Location : {{i.location}}</p>
            <p>One day room price : {{i.fee}}</p>
            <p class="card-text">Description :- {{i.description | truncatewords:10}}</p>
            <a class="btn btn-primary" href="{% url 'details' i.id %}">Details</a>
          </div>
        </div>
      </div>
      
      

    <!-- <div class="mb-3">
      <div style="width: 70%; margin: auto" class="card">
        <img
          style="height: 400px"
          src="{{i.image.url}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{i.hotel_name}}</h5>
          <p>Location : {{i.location}}</p>
          <p>One day room price : {{i.fee}}</p>
          <p class="card-text">
            Description :- {{i.description | truncatewords:10}}
          </p>
          <a class="btn btn-primary" href="{% url 'details' i.id %}">Details</a>
        </div>
      </div>
    </div> -->

    {% endfor %}
</div>
</div>
  {% endblock content %}
