<footer class="bg-info w-100">
  <div class="container w-75 m-auto row p-2">
    <div class="col-md-6">
      <h5>Follow US</h5>
      <div class="icons">
        <img class="icon" src="images/LinkedIn.png" alt="" />
        <img class="icon" src="images/YouTube.png" alt="" />
        <img class="icon" src="images/LinkedIn.png" alt="" />
      </div>
    </div>
    <div class="col-md-3">
      <h5>Hotels</h5>
      <li>ABout</li>
      <li>Contact us</li>
      <li>Culture</li>
      <li>Blog</li>
    </div>
    <div class="col-md-3">
      <h5>Services</h5>
      <li>Swimming</li>
      <li>Gym</li>
      <li>Boofe</li>
      <li>Night Club</li>
    </div>
  </div>
  <hr />
  <p class="text-center mt-3">
    <small>Copyright © {% now "Y" %} juhure Nurul Haque Pranto</small>
  </p>
</footer>
