<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %} {% block title %}Home page
{%endblock title %} {% block content %}
<div class="container mb-5">
  <div class="row mt-5 d-flex align-items-center">
    <div class="col-6">
      <h1 class="p-5">Hotel Booking system</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        quisquam laudantium porro, magnam nobis quo veritatis ad, consequuntur
        sit necessitatibus cumque blanditiis impedit voluptate culpa repellat
        eum, quidem incidunt cum officiis odio magni deserunt? Animi obcaecati
        reprehenderit natus, blanditiis ipsa, tenetur repudiandae, commodi
        facere unde assumenda asperiores facilis et qui!
      </p>
    </div>
    <div class="col-6 ml-3">
      <img class="img-fluid" src="{% static "hotel.jpg" %}" alt="banar">
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for i in data|slice:":3" %}
    <div class="col">
      <div class="card">
        <img src="{{i.image.url}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{i.hotel_name}}</h5>
          <p>Location : {{i.location}}</p>
          <p>One day room price : {{i.fee}}</p>
          <p class="card-text">
            Description :- {{i.description | truncatewords:10}}
          </p>
          <a class="btn btn-primary" href="{% url 'details' i.id %}">Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include "about.html" %}
</div>
{% endblock content %}
